@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body,ul{
  margin: 0;
  padding: 0;
}
p,a,li{
  font-family: 'Ubuntu', sans-serif;
}
li{
  list-style: none;
}
body{

  overflow-x: hidden;
font-family: 'Press Start 2P', cursive;
}
input,button{
  border: none;
  outline: none;
}
button,a{
  cursor: pointer;
}
.main{
  max-width: 1200px;
  margin: 0 auto;
  font-size: 62px;
  text-align: center;
}
.socket-chat input{
  background-color: transparent;
  height: 200px;
  font-size: 62px;
  width: 100%;
  text-indent: 25px
}
.socket-chat button{
    visibility: hidden;
}
#messages li{
  margin: 60px 0;
}
.activebody{
  background-color: 	#CD5C5C;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}
