@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
body{
  background-color: #c0b5f7;
  overflow-x: hidden;
font-family: 'Press Start 2P', cursive;
}
div {
    width: 900px;
    height: 972px;
    background-image: url(../img/over.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    -webkit-animation: mymove; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-duration: 0.8s;
}

section{
  position: absolute;
  top: 0;
  right: 100px;
  font-size: 40px;
  z-index: 9000;
}
section{
  animation: tada;
  animation-duration: 2s;
  position:absolute;
}

@keyframes mymove {
  from {
    opacity: 1;
    transform: scale3d(.1, .1, .1) translate3d(-1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
  }

  60% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
  }

}




@keyframes tada {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
